# SHA-256 Hash of CMS Access Password
# Use a generator like https://passwordsgenerator.net/sha256-hash-generator/
# Default (for 'admin'): 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
REACT_APP_CMS_PASS_HASH=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918

# Formspree Integration ID (for contact forms)
# Get your ID at https://formspree.io/
REACT_APP_FORMSPREE_ID=
